* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #8bc6ec;
  background-image: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);
  background-repeat: no-repeat;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.app {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: auto;
  padding: 1rem;
}
.form .input {
  margin: 1rem;
  width: auto;
}
.form .button-submit {
  width: auto;
}
.todo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: space-around;
  margin: 0.7rem 2rem;
  width: auto;
}

.todo-list {
  display: flex;
  justify-content: space-around;
}
li {
  text-decoration: none;
}
.list-items {
  border: 2px solid #eee;
  padding: 10px;
  font-size: 18px;
  line-height: 20px;
  margin: 8px 0;
  width: 80%;
  border-radius: 8px;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.wrapper {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin-top: 1rem;
  background-color: #9599e2;
  border: 1px solid white;
  border-radius: 30px;
  justify-content: space-around;
  width: 70%;
}
